body{
  background-color : #F6F2D4;
}
hr{
  border-color: #22577E;
  border-style: dotted;
  border-width: 10px;
  border-bottom-style: none;
  width : 10%;
  height: 30%;
}
h3,h1{
  font-family: Georgia;
  color: #086E7D;
}
